{% extends "../layouts/auth.twig" %}

{% block title %}S'inscrire{% endblock %}

{% block menu %}
    {{ parent() }}
    <li>
        <a href="{{ url }}/login">
            Connexion
            <i class="material-icons">exist_to_app</i>
        </a>
    </li>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div>
        <h3 class="center-align">Inscription</h3>
        <!-- Login Form -->
         <div class="row">
            <form action="{{ url }}/register" method="post" class="col s12 center-align">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">face</i>
                        <input type="text" id="pseudo" class="validate {{  formError.pseudo is defined ? 'invalid' : '' }}" name="pseudo" value="{{ formFields.pseudo }}">
                        {% if formError.pseudo is defined %}
                            <span class="helper-text" data-error="{{ formError.pseudo }}"></span>
                        {% endif %}
                        <label for="pseudo">Pseudo</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">alternate_email</i>
                        <input type="email" id="email" class="validate {{  formError.email is defined ? 'invalid' : '' }} " name="email"  value="{{ formFields.email }}">
                        {% if formError.email is defined %}
                            <span class="helper-text" data-error="{{ formError.email }}"></span>
                        {% endif %}
                        <label for="email">E-mail</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password" class="validate {{  formError.password is defined ? 'invalid' : '' }}" name="password">
                        {% if formError.password is defined %}
                            <span class="helper-text" data-error="{{ formError.password }}"></span>
                        {% endif %}
                        <label for="password">Mot de passe</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password_confirm" class="validate {{  formError.password_confirm is defined ? 'invalid' : '' }}" name="password_confirm">
                         {% if formError.password_confirm is defined %}
                            <span class="helper-text" data-error="{{ formError.password_confirm }}"></span>
                        {% endif %}
                        <label for="password_confirm">Confirmer le mot de passe</label>
                    </div>
                </div>
                 <button class="btn waves-effect waves-light" type="submit">
                    S'inscrire
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <div class="col s12 m-t-20 center-align">
                <a href="{{url}}/login">Connexion</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}