{% extends "../layouts/app.twig" %}

{% block title %}Mon compte - Modification du mot de passe{% endblock %}

{% block body %}
    {{ parent() }}

    <div>
        <h5>Modifier mon mot de passe</h3>
        <div class="divider"></div>
        <!-- Login Form -->
         <div class="row">
            <form action="{{ url }}/account/password/change" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password" class="validate {{  formError.password is defined ? 'invalid' : '' }}" name="password">
                        {% if formError.password is defined %}
                            <span class="helper-text" data-error="{{ formError.password }}"></span>
                        {% endif %}
                        <label for="password">Ancien mot de passe</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password_new" class="validate {{  formError.password_new is defined ? 'invalid' : '' }}" name="password_new" >
                        {% if formError.password_new is defined %}
                            <span class="helper-text" data-error="{{ formError.password_new }}"></span>
                        {% endif %}
                        <label for="password_new">Nouveau mot de passe</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password_new_confirmation" class="validate {{  formError.password_new_confirmation is defined ? 'invalid' : '' }}" name="password_new_confirmation" >
                        {% if formError.password_new_confirmation is defined %}
                            <span class="helper-text" data-error="{{ formError.password_new_confirmation }}"></span>
                        {% endif %}
                        <label for="password_new_confirmation">Confirmer le nouveau mot de passe</label>
                    </div>
                </div>
                 <button class="btn waves-effect waves-light" type="submit">
                    Modifier
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large secondary">
            <i class="large material-icons">settings</i>
        </a>
        <ul>
            <li><a href="{{ url }}/account/password/change" class="btn-floating light"><i class="material-icons">lock</i></a></li>
            <li><a href="{{ url }}/account/edit" class="btn-floating main"><i class="material-icons">mode_edit</i></a></li>
        </ul>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
          document.addEventListener('DOMContentLoaded', function() {
            let collapsible = document.querySelectorAll('.collapsible');
            let collapsibleinstances = M.Collapsible.init(collapsible, {});
        });
    </script>
{% endblock %}