{% extends "../layouts/app.twig" %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {{ parent() }}

    <h4>Mon compte</h4>

    <h6>{{ user.pseudo }}</h6>
    <div class="divider"></div>
    <h6>{{ user.email }}</h6>

    <ul class="collection with-header challenge-personal">
        <li class="collection-header"><h6><b>Mes défis</b></h6></li>
        <ul class="collapsible popout">
            {% for challenge in challenges %}
                {#<li class="collection-item">
                    <div>
                        <div class="row">
                            <div class="col s10 truncate">
                                {{ challenge.content }}
                            </div>
                            <div class="col s2">
                                <a href="{{ url }}/challenge/edit/{{ challenge.id }}" class="secondary-content">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>#}
                <li class="{{ challenge.is_visible == 1 ? '' : 'grey lighten-2' }}">
                    <div class="collapsible-header {{ challenge.is_visible == 1 ? '' : 'grey lighten-2' }}">
                        <div class="row">
                            <div class="col s12 truncate">
                                {{ challenge.content }}
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        {% if challenge.is_visible == 1 %}
                            <div class="d-inline-block">
                                <a href="{{ url }}/challenge/show/{{ challenge.id }}?tab=comment">
                                    <i class="material-icons secondary-text">comment</i>
                                    <span class="badge">COMMENTAIRES</span>
                                </a>
                            </div>
                        {% endif %}
                        {% if challenge.nbr_comment == 0  or challenge.is_visible == 0 %}
                            <form action="{{ url }}/challenge/visibility/{{ challenge.is_visible == 1 ? 'hide' : 'show' }}/{{ challenge.id }}" method="post" class="icon-form d-inline-block">
                                <button type="submit">
                                    <i class="material-icons light-text">{{ challenge.is_visible == 1 ? 'visibility_off' : 'visibility' }}</i>
                                    <span class="badge">{{ challenge.is_visible == 1 ? 'CACHER' : 'AFFICHER' }}</span>
                                </button>
                            </form>
                        {% endif %}
                        {% if challenge.nbr_comment == 0 and challenge.nbr_like == 0 %}
                            <form action="{{ url }}/challenge/delete/{{ challenge.id }}" method="post" class="icon-form d-inline-block">
                                <button type="submit" class="delete">
                                    <i class="material-icons red-text">delete</i>
                                    <span class="badge">SUPPRIMER</span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </ul>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large secondary">
            <i class="large material-icons">settings</i>
        </a>
        <ul>
            <li><a href="{{ url }}/account/password/change" class="btn-floating light"><i class="material-icons">lock</i></a></li>
            <li><a href="{{ url }}/account/edit" class="btn-floating main"><i class="material-icons">mode_edit</i></a></li>
        </ul>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script>
          document.addEventListener('DOMContentLoaded', function() {
            let collapsible = document.querySelectorAll('.collapsible');
            let collapsibleinstances = M.Collapsible.init(collapsible, {});

            let delete_btns = document.querySelectorAll('.delete');

            delete_btns.forEach((btn) => {
                let form =  btn.closest('form');

                form.addEventListener('submit', (e) => {
                    e.preventDefault();
                })

                btn.addEventListener('click',() => {
                    Swal.fire({
                        title: 'Êtes-vous sûr?',
                        text:`Supprimer le défi ?`,
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Oui, Je suis sûr!',
                        cancelButtonText: 'Retour!'
                    }).then((result) => {
                        if (result.value) {
                            form.submit();
                        }
                    })
                });
            });
        });
    </script>
{% endblock %}