{% extends "../layouts/app.twig" %}

{% block title %}Commentaire - Modification{% endblock %}

{% block body %}
    {{ parent() }}

     <div>
        <h5>Modification du commentaire</h3>
        <div class="divider m-b-20"></div>
        <!-- Login Form -->
         <div class="row">
            <form action="{{ url }}/challenge/{{ challenge.id }}/comment/edit/{{ comment.id }}" method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <textarea id="content" name="content" class="materialize-textarea validate {{  formError.content is defined ? 'invalid' : '' }}" data-length="140">{{ formFields.content }}</textarea>
                        {% if formError.content is defined %}
                            <span class="helper-text" data-error="{{ formError.content }}"></span>
                        {% endif %}
                        <label for="content">Contenu</label>
                    </div>
                    <div class="input-field col s12">
                        <div class="switch">
                            <label>
                                Ajouter une preuve?
                                <input type="checkbox" name="is_proof" value="1" {{ formFields.is_proof == 1 ? 'checked' : '' }}>
                                <span class="lever"></span>
                            </label>
                        </div>
                        {% if formError.create.is_proof is defined %}
                            <small class="red-text">{{ formError.is_proof }}</small>
                        {% endif %}
                        </div>
                        <div class="input-field col s12 {{ formFields.is_proof == 1 ? 'd-block' : 'd-none' }}  d-toggle">
                            <span>Image ou vidéo</span>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Chercher</span>
                                    <input type="file" name="media">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" >
                                </div>
                            </div>
                            {% if formError.media is defined %}
                                <small class="red-text">{{ formError.media }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit">
                    Modifier !
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}