{% extends "../layouts/app.twig" %}

{% block title %}Défis - Détails{% endblock %}

{% block body %}
    {{ parent() }}

    <div id="challenge-tab-overall" class="col s12">

        <h5><b>{{challenge.user_pseudo}}</b></h5>
        <div class="divider"></div>

        <table>
            <tbody>
                <tr>
                    <td>
                        <button class="btn-small waves-effect waves-light challenge-like {{ challenge.is_liked > 0 ? 'cyan' : 'black' }}" data-id="{{ challenge.id }}">
                            <span class="valign-wrapper">
                                <i class="material-icons  white-text">thumb_up</i>
                                <span class="amount-like white-text m-l-5">{{ challenge.amount_like }}</span>
                            </span>
                        </button>
                    </td>
                    {% if challenge.is_realized == 1 %}
                        <td>
                            <i class="material-icons small green-text f-right">beenhere</i>
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <div class="m-t-20">
            <blockquote>{{ challenge.content }}</blockquote>
        </div>

        <div class="divider"></div>

        <div class="w-100">
            <h6 class="d-inline-block"><b>Mes commentaires</b></h6>
            <a href="#create" class="waves-effect waves-light right m-t-10 m-r-10 modal-trigger" title="Ajouter un commentaire"><i class="material-icons small">add_comment</i></a>
        </div>
        <div class="clearfix"></div>
        <ul class="collection z-depth-3 m-b-50">
            {% for comment in comments if user.id == comment.user_id %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">person</i>
                    <span class="title">{{ comment.user_pseudo }}</span>
                    <small class="grey-text">{{ comment.created_at }}</small>
                    <p>
                        {{ comment.content }}
                    </p>
                    {% if user.id == comment.user_id or (challenge.user_id == user.id and comment.is_accepted == 1)  %}
                        <a href="#" class="secondary-content dropdown-trigger" data-target='dropdownCommentPersonal{{ loop.index }}'><i class="material-icons">more_vert</i></a>
                    {% endif %}
                    <div class="m-t-10">
                    {% if comment.is_proof == 1 %}
                        {% if comment.type_media == 'image' %}
                            <img class="responsive-img" src="{{ comment.media }}">
                        {% elseif comment.type_media == 'video' %}
                            <video class="responsive-video" controls>
                                <source src="{{ comment.media }}" type="video/mp4">
                            </video>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>
                <ul id='dropdownCommentPersonal{{ loop.index }}' class='dropdown-content'>
                    <li>
                        {% if user.id == comment.user_id %}
                            <a href="{{ url }}/challenge/{{ challenge.id }}/comment/edit/{{ comment.id }}">
                                <i class="material-icons">edit</i>
                                Editer
                            </a>
                            <li class="divider" tabindex="-1"></li>
                        {% endif %}
                        {% if challenge.user_id == user.id and comment.is_accepted == 1 %}
                            <a href="#!">
                                <form action="{{ url }}/challenge/{{ challenge.id }}/comment/{{ comment.id }}/refute" method="post" class="icon-form d-inline-block">
                                    <button type="submit" class="valign-wrapper">
                                        <i class="material-icons">clear</i>
                                        REFUTER
                                    </button>
                                </form>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            {% else %}
                <div class="m-t-20 m-b-20 m-l-10">
                    <blockquote>Aucun commentaire posté</blockquote>
                </div>
            {% endfor %}
        </ul>
    </div>

    <div id="challenge-tab-comment" class="col s12">
        <div class="w-100">
            <h5 class="d-inline-block"><b>Commentaires</b></h5>
            <a href="#create" class="waves-effect waves-light right m-t-10 m-r-10 modal-trigger" title="Ajouter un commentaire"><i class="material-icons small">add_comment</i></a>
        </div>
        <div class="divider"></div>
        <ul class="collection m-t-20 z-depth-3 m-b-50">
            {% for comment in comments %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">person</i>
                    <span class="title">{{ comment.user_pseudo }}</span>
                    <small class="grey-text">{{ comment.created_at }}</small>
                    <p>
                        {{ comment.content }}
                    </p>
                    {% if user.id == comment.user_id or (challenge.user_id == user.id and comment.is_accepted == 1)  %}
                        <a href="#" class="secondary-content dropdown-trigger" data-target='dropdownComment{{ loop.index }}'><i class="material-icons">more_vert</i></a>
                    {% endif %}
                    <div class="m-t-10">
                    {% if comment.is_proof == 1 %}
                        {% if comment.type_media == 'image' %}
                            <img class="responsive-img" src="{{ comment.media }}">
                        {% elseif comment.type_media == 'video' %}
                            <video class="responsive-video" controls>
                                <source src="{{ comment.media }}" type="video/mp4">
                            </video>
                        {% endif %}
                    {% endif %}
                    </div>
                </li>
                <ul id='dropdownComment{{ loop.index }}' class='dropdown-content'>
                    <li>
                        {% if user.id == comment.user_id %}
                            <a href="{{ url }}/challenge/{{ challenge.id }}/comment/edit/{{ comment.id }}">
                                <i class="material-icons">edit</i>
                                Editer
                            </a>
                            <li class="divider" tabindex="-1"></li>
                        {% endif %}
                        {% if challenge.user_id == user.id and comment.is_accepted == 1 %}
                            <a href="#!">
                                <form action="{{ url }}/challenge/{{ challenge.id }}/comment/{{ comment.id }}/refute" method="post" class="icon-form d-inline-block">
                                    <button type="submit" class="valign-wrapper">
                                        <i class="material-icons">clear</i>
                                        REFUTER
                                    </button>
                                </form>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            {% else %}
                <div class="m-t-20 m-b-20 m-l-10">
                    <blockquote>Aucun commentaire posté</blockquote>
                </div>
            {% endfor %}
        </ul>
    </div>

    {% if challenge.user_id == user.id %}
        <div id="challenge-tab-proof" class="col s12">
            <h5><b>Preuves</b></h5>
            <div class="divider"></div>
            <ul class="collection m-t-20 z-depth-3 m-b-50">
                {% for comment in comments if comment.is_proof == 1 and comment.is_accepted == 0 %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">person</i>
                        <span class="title">{{ comment.user_pseudo }}</span>
                        <small class="grey-text">{{ comment.created_at }}</small>
                        <p>
                            {{ comment.content }}
                        </p>
                        <a href="#" class="secondary-content dropdown-trigger" data-target='dropdownProof{{ loop.index }}'><i class="material-icons">more_vert</i></a>
                        <div class="m-t-10">
                            {% if comment.is_proof == 1 %}
                                {% if comment.type_media == 'image' %}
                                    <img class="responsive-img" src="{{ comment.media }}">
                                {% elseif comment.type_media == 'video' %}
                                    <video class="responsive-video" controls>
                                        <source src="{{ comment.media }}" type="video/mp4">
                                    </video>
                                {% endif %}
                            {% endif %}
                        </div>
                    </li>
                    <ul id='dropdownProof{{ loop.index }}' class='dropdown-content'>
                        <li>
                            <a href="#!">
                                <form action="{{ url }}/challenge/{{ challenge.id }}/comment/{{ comment.id }}/accept" method="post" class="icon-form d-inline-block">
                                    <button type="submit" class="valign-wrapper">
                                        <i class="material-icons">checked_circle_outline</i>
                                        ACCEPTER
                                    </button>
                                </form>
                            </a>
                        </li>
                    </ul>
                {% else %}
                    <div class="m-t-20 m-b-20 m-l-10">
                        <blockquote>Aucune preuve postée</blockquote>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block end_html %}

    <div class="fixed-tabs-wrapper">
        <ul id="challenge-tab" class="tabs">
            <li class="tab col s6"><a class="active" href="#challenge-tab-overall"><i class="material-icons prefix">language</i></a></li>
            <li class="tab col s6"><a href="#challenge-tab-comment"><i class="material-icons">comment</i></a></li>
            {% if challenge.user_id == user.id %}
                <li class="tab col s6"><a href="#challenge-tab-proof"><i class="material-icons">flag</i></a></li>
            {% endif %}
        </ul>
    </div>

    <div id="create" class="modal">
        <div class="modal-content">
            <h5 class="m-t-0">Ajouter un commentaire</h4>
            <div class="row">
                <form action="{{ url }}/challenge/{{ challenge.id }}/comment/create" method="post" class="col s12" encType="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">comment</i>
                            <textarea id="content" name="content" class="materialize-textarea validate {{  formError.create.content is defined ? 'invalid' : '' }}" data-length="140">{{ formFields.create.content }}</textarea>
                            {% if formError.create.content is defined %}
                                <span class="helper-text" data-error="{{ formError.create.content }}"></span>
                            {% endif %}
                            <label for="content">Contenu</label>
                        </div>
                        <div class="input-field col s12">
                            <div class="switch">
                                <label>
                                    Ajouter une preuve?
                                    <input type="checkbox" name="is_proof" value="1" {{ formFields.create.is_proof == 1 ? 'checked' : '' }}>
                                    <span class="lever"></span>
                                </label>
                            </div>
                            {% if formError.create.is_proof is defined %}
                                <small class="red-text">{{ formError.create.is_proof }}</small>
                            {% endif %}
                        </div>
                        <div class="input-field col s12 {{ formFields.create.is_proof == 1 ? 'd-block' : 'd-none' }}  d-toggle">
                            <span>Image ou vidéo</span>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Chercher</span>
                                    <input type="file" name="media">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" >
                                </div>
                            </div>
                            {% if formError.create.media is defined %}
                                <small class="red-text">{{ formError.create.media }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">
                        Ajouter !
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="/static/js/Router.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            let wordcounters = document.querySelectorAll('.materialize-textarea');
            let wordcountersInstances = M.CharacterCounter.init(wordcounters, {});

            let tab = document.querySelector('#challenge-tab');
            let tabinstance = M.Tabs.init(tab, {});

            let router = new Router();

            if(router.queryStringKey('tab') !== null){
                tabinstance.select(`challenge-tab-${router.queryStringKey('tab')}`);
            }

            let likes = document.querySelectorAll('.challenge-like');

            for(var i = 0; i < likes.length; i++) {
                likes[i].addEventListener('click', function() {

                    let that = this;

                    let challenge_id = that.getAttribute('data-id');

                    let amount = that.querySelector('.amount-like');

                     $.ajax({
                        method: "POST",
                        url: '{{ url }}/like',
                        data: {
                            challenge_id: challenge_id,
                        }
                    })
                    .done(function( result ) {

                        if(result.status === 'deleted'){
                            that.classList.remove('cyan');
                            that.classList.add('black');
                        }else if(result.status === 'inserted'){
                            that.classList.remove('black');
                            that.classList.add('cyan');
                        }

                        amount.innerHTML = result.quantity;
                    })
                    .fail(function( jqXHR, textStatus ) {

                        if(jqXHR === 404){
                            M.toast({html: 'Ce défi n\'existe pas.' });
                        }else{
                            M.toast({html: 'Une erreur est survenue, veuillez réessayer plus tard.' });
                        }
                    });
                });
            }

            {% if formType is defined %}
                $('#{{formType}}').modal('open');
            {% endif %}
        });

        let is_proof = document.querySelector('input[name="is_proof"]');
        let toggle = document.querySelector('.d-toggle');

        is_proof.addEventListener('click', function(){

            if (is_proof.checked) {
                toggle.classList.remove(['d-none']);
                toggle.classList.add(['d-block']);
            } else {
                toggle.classList.remove(['d-block']);
                toggle.classList.add(['d-none']);
            }
        });
    </script>

{% endblock %}